@use '@angular/material' as mat;
@use './custom-palettes' as palettes;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: palettes.$primary,
      tertiary: palettes.$tertiary,
    ),
    typography: (
      brand-family: '"Noto Sans"',
      plain-family: '"Noto Sans"',
    ),
    density: (
      scale: 0
    )
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: "Noto Sans", "Helvetica Neue", sans-serif; }